body {
    background-color: rgba(0, 0, 0, 0.746);
}

.container {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border: 1px solid white;
    padding: 15px;
    width: 220px;
}

.screen {
    height: 35px;
    width: 200px;
    border: 1px solid white;

    text-align: center;
    word-wrap: break-word;
    font-size: 30px;
    color: white;
}

button {
    height: 35px;
    width: 35px;
    font-size: 25px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 50px 0 50px 0;
}

.operators {
    margin-bottom: 20px;
}

.operators .other {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}